<!-- Modal -->
<div class="modal modal-xl fade" id="staticBackdrop-<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="staticBackdropLabel">Editar <%= prod.name %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" enctype="multipart/form-data" action="/inventory/edit/<%=prod._id%>" method="POST">
                    <h3 class="fs-5"> Campos Básicos</h3>
                    <div class="col-md-4">
                        <label for="productname" class="form-label">Nome</label>
                        <input type="text" name="name" placeholder="Nome do Produto"
                            class="form-control" id="productname " value="<%=prod.name %>">
                    </div>
                    <div class="col-md-4">
                        <label for="productCode" class="form-label">Código</label>
                        <input type="text"  name="code" placeholder="Código do Produto"
                            class="form-control" id="productCode" value="<%=prod.code%>">
                    </div>
                    <div class="col-4">
                        <label for="category" class="form-label">Categoria<i class=" icon ph-bold ph-plus" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"></i> </label>
                        <select class="form-select" id="category" name="category" aria-label="Default select example">
                            <option selected disabled>
                                <%=prod.category %>
                            </option>
                           <% categories.forEach(category => { %>
                                <option  value="<%= category.name %>"><%= category.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Descrição Detalhada do Produto</label>
                        <div class="form-floating">
                            <textarea  value="<%=prod.description%>" class="form-control"  name="description"
                                placeholder="Detalhes sobre o produto..." id="floatingTextarea2"
                                style="height: 100px" ><%=prod.description%></textarea>
                            <label for="floatingTextarea2">Descrição</label>
                        </div>
                    </div>
                    <h3 class="fs-5"> Detalhes de Estoque</h3>
                    <div class="col-md-3">
                        <label for="quantity" class="form-label">Quantidade</label>
                        <input type="number" name="quantity"
                            placeholder="Quantidade Atual em Estoque"   value="<%=prod.quantity %>" class="form-control" id="quantity">
                    </div>
                    <div class="col-4">
                        <label for="category" class="form-label">Unidade de Medida <i class=" icon ph-bold ph-plus" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptionsUnity" aria-controls="offcanvasWithBothOptions-Unity"></i></label>
                        <select class="form-select" id="un" name="un" aria-label="Default select example">
                            <option selected disabled>
                                <%=prod.un %>
                            </option>
                            <% unities.forEach(unity=> { %>
                                <option value="<%= unity.name %>"><%= unity.name %></option> <button type="button" onclick="location.href = '/un/delete/<%=unity._id%>'" class="btn-close" aria-label="Close"></button> 
                            <% }) %>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="minInStock" class="form-label">Mínimo em Estoque </label>
                        <input type="number" name="minInStock" placeholder="Min"
                            class="form-control" id="minInStock"  value="<%=prod.minInStock %>">
                    </div>
                    <div class="col-md-2">
                        <label for="maxInStock" class="form-label">Máximo em Estoque</label>
                        <input type="number" name="maxInStock" placeholder="Max"
                            class="form-control" id="maxInStock"  value="<%=prod.maxInStock %>">
                    </div>
                    <h3 class="fs-5"> Informações de Preço</h3>
                    <div class="col-md-4">
                        <label for="costPrice" class="form-label">Preço de Custo</label>
                        <input type="text"  name="costPrice" placeholder="R$ 00,00"
                            class="money form-control " id="costPrice" value="<%=prod.costPrice %>">
                    </div>
                    <div class="col-md-4">
                        <label for="salePrice" class="form-label">Preço de Venda</label>
                        <input type="text"  name="salePrice" placeholder="R$ 00,00"
                            class="money form-control" id="salePrice" value="<%=prod.salePrice %>">
                    </div>
                     <div class="col-md-3">
                        <label for="supplierName" class="form-label">Fornecedor</label>
                        <select class="form-select" id="supplierName" name="supplierName" aria-label="Default select example"> 
                            <option   disabled selected><%=prod.supplierName %></option>
                            <% suppliers.forEach(supplier => { %>
                                <option value="<%= supplier.name %>"><%= supplier.name %></option>
                            <% }) %> 
                        </select>
                    </div>  
                    
                    <h3 class="fs-5">Localização no Armazém</h3>
                    <div class="col-md-4">
                        <label for="productLacation" class="form-label">Localização</label>
                        <input type="text" name="productLacation" 
                            placeholder="Corredor Exemplo" class="form-control" id="productLacation" value="<%=prod.productLacation %>">
                    </div> 
                    <div class="col-4">
                        <label for="status" class="form-label">Armazem</label>
                        <select class="form-select" id="storage" name="storage" aria-label="Default select example"> 
                            <option selected disabled><%= prod.storage %></option>
                            <% storages.forEach(storage => { %>
                             <option value="<%= storage.name %>"><%= storage.name %></option>
                           <% }) %>
                        </select>
                    </div>  
                    <div class="col-md-2">
                        <label for="productNumberInSlot" class="form-label">Número do Lote</label>
                        <input type="number" name="productNumberInSlot" 
                            placeholder="N de Lote" class="form-control" id="productNumberInSlot" value="<%=prod.productNumberInSlot %>">
                    </div>
                    <div class="col-md-3">
                        <label for="productValidity" class="form-label">Data de Validade</label>
                        <input type="date" name="productValidity" 
                            placeholder="Validade" class="form-control" id="productValidity " value="<%=prod.productValidity %>">
                    </div>
                    <h3 class="fs-5">Informações Adicionais</h3>
                    <div class="col-md-16">

                        <div class="profile-pic">
                            <label class="-label" for="file-<%=i%>">
                                <span class="glyphicon glyphicon-camera"></span>
                                <span>Change Image</span>
                            </label>
                            <input id="file-<%=i%>" type="file" name="productImageEdited"
                                onchange="loadFileEdited(event,'<%=i%>')" />
                            <% if (prod.productImage) { %>
                                <img src="/uploads/<%=prod.productImage%>" id="output" width="200" />
                                <% } else { %>
                                    <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg"  id="output-<%=i%>" width="200" />
                               <% } %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="productWeight" class="form-label">Peso</label>
                        <input type="text" name="productWeight"  placeholder="Peso (kg)"
                            class="money form-control " id="productWeight" value="<%=prod.productWeight %>">
                    </div>
                    <div class="col-md-3">
                        <label for="productlength" class="form-label">Comprimento</label>
                        <input  value="<%=prod.productLength %>" type="text" name="productLength" placeholder="cm"
                            class="money form-control " id="productLength">
                    </div>
                    <div class="col-md-3">
                        <label for="productWeight" class="form-label">Largura</label>
                        <input type="text" name="productLengthWidth"
                            placeholder="cm" class="money form-control  " id="productWeight"  value="<%=prod.productLengthWidth %>">
                    </div>
                    <div class="col-md-3">
                        <label for="productWeight" class="form-label">Altura</label>
                        <input type="text" name="productLengthHeight"
                            placeholder="cm" class="money form-control " id="productWeight"  value="<%=prod.productLengthHeight %>">
                    </div>
                    <h3 class="fs-5">Campos de Controle e Auditoria</h3>
                    <div class="col-md-3">
                        <label for="productRegisterDate" class="form-label">Date de Cadastro</label>
                        <input type="date" name="productRegisterDate" 
                            class=" form-control" id="productRegisterDate" value="<%=prod.productRegisterDate %>"> 
                    </div>
                    <div class="col-md-3">
                        <label for="productUpdateDate" class="form-label">Última Atualização</label>
                        <input type="date" name="productUpdateDate" 
                            class="form-control" id="productUpdateDate" value="<%=prod.productUpdateDate %>">
                    </div>
                    <div class="col-4">
                        <label for="status" class="form-label">Status do Produto </label>
                        <select class="form-select" id="status" name="status" aria-label="Default select example">
                            <option selected disabled>
                                <%=prod.status %>
                            </option>
                            <option value="Ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                            <option value="Descontinuado">Descontinuado</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Editar Produto <i class=" icon ph-bold ph-pencil-simple" ></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>