<!-- Modal -->
<div class="modal modal-xl fade" id="staticBackdrop-Inspect-<%=i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="staticBackdropLabel">Inpecionar <%= supplier.name %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">

                    <h3 class="fs-5">Dados do Fornecedor</h3>
                    <div class="col-md-16">

                      <div class="col-md-16">
                        <div class="profile-pic">
                          <label class="-label" for="file">
                          </label>
            
                         <% if (supplier.supplierPhoto) { %>
                          <img src="/uploads/<%=supplier.supplierPhoto%>" id="output" width="200" />
                         <% } else { %>
                              <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg"
                                  id="output" width="200" />
                          <% } %>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <label for="supplier" class="form-label">Nome</label>
                        <input type="text" name=.name" value="<%= supplier.name %>" disabled placeholder="Nome do Fornecedor" class="form-control"
                            id="supplier">
                    </div> 
                    <div class="col-md-4">
                        <label for="supplierTel" class="form-label">Telefone</label>
                        <input type="text" name="tel" placeholder="(00) 0000-0000" value = "<%= supplier.tel %>"  disabled class="form-control"
                            id="supplierTel"> 
                    </div> 
                    <div class="col-md-4">
                        <label for="supplierEmail" class="form-label">E-mail</label>
                        <input type="text" name=.email"  value="<%= supplier.email%>" disabled placeholder="exemplo@gmal.com" class="form-control"
                            id="supplierEmail">
                    </div> 
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Descrição Detalhada do Fornecedor</label>
                      <div class="form-floating">
                          <textarea class="form-control" disabled  name="description"   placeholder="Deixe sua descrição aqui..."
                              id="floatingTextarea2" style="height: 100px"><%= supplier.description%></textarea>
                          <label for="floatingTextarea2">Descrição</label>
                      </div>
                  </div> 
                    <div class="col-md-2">
                        <label for="supplierCode" class="form-label">Código</label>
                        <input type="text" name=.code" value="<%= supplier.code%>" disabled placeholder="Cód. do Fornecedor" class="form-control"
                            id="supplierCode">
                    </div> 
                    <div class="col-4">
                        <label for="status" class="form-label">Condições de Pagamento</label>
                        <select class="form-select" disabled  id="status" name="paymentMethod" value="<%= supplier.paymentMethod%>"  aria-label="Default select example">
                            <option selected><%= supplier.paymentMethod%></option>
                            <option value="Ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                            <option value="Descontinuado">Descontinuado</option>
                        </select>
                    </div>
                    
                  
                    <h3 class="fs-5">Produtos do Fornecedor</h3>

                    <div class="col-12">
                        <div class="form-floating"> 
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Categoria</th> 
                                        <th scope="col">Preço de Venda</th> 
                                        <th scope="col">Status</th>

                                    </tr>
                                </thead>
                                <tbody> 
                                    <% let y = 0 %>
                                     <% y++ %> 
                                         <% supplier.products.forEach( product => { %>
                                            <tr>
                                                <td> <%= y %></td> 
                                                <td class="d-flex align-items-center justify-content-start">  
                                                    <% if (!product.productImage) { %>
                                                      <div class="img-product">
                                                        <img src="https://media.istockphoto.com/id/1363734940/pt/foto/three-cardboard-boxes.jpg?s=2048x2048&w=is&k=20&c=sU00RkOfhWh7z-0uOsJwHqe26cBmC-mdTjUq-R-JV4A=" alt="">
                                                     </div>
                                                    <% }else { %>
                                                      <div class="img-product">
                                                        <img src="/uploads/<%=product.productImage%>" alt="">
                                                     </div>
                                                   <% } %>
                                                    
                                                   <%= product.name %>
                                                  </td>
                                                <td> <%= product.category %></td> 
                                                <td>R$ <%= product.salePrice %></td> 
                                                <% if (product.status === "Ativo") { %>
                                                    <td> <span class="badge text-bg-success"> <i class=" icon ph-bold ph-checks" > </i> <%= product.status %></span></td>
                                                  <% }else if(product.status === "Inativo") { %>
                                                    <td> <span class="badge text-bg-danger"> <i class=" icon ph-bold ph-warning" > </i>  <%= product.status %></span></td>
                                                    <% } else if(product.status ==="Descontinuado") { %>
                                                      <td> <span class="badge text-bg-warning"><i class=" icon ph-bold ph-flow-arrow" >  </i> <%= product.status %></span></td>
                                                   <% }%>
                                                  
                                             </tr>
                                         <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 class="fs-5">Histórico de Compras </h3>

                    <div class="col-12">
                        <div class="form-floating">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Quantidade</th> 
                                        <th scope="col">Valor da Compra</th>

                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                
                </form>
            </div>

        </div>
    </div>
</div>